:root {
    --tab-bar-space: 5vh;
    --tool-bar-space: 5vh;
    --side-bar-space: 15vw;

    --border-width: 1.5px;

    --background-color: rgb(37, 50, 59);
    --top-bar-color: #192229;
    --side-bar-color: #192229;

    --border-color: #4e4f4f; 
    --line-color: rgb(86, 116, 138);

    --select-border-color: #dd8a2b;

    font-size: 125%;
}

body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);

    font-family: monospace;
    color: white;

    overflow: hidden;
}

#tab-bar {
    background-color: var(--top-bar-color);
    height: calc(var(--tab-bar-space) - var(--border-width));
    width: 100vw;

    position: absolute;
    left: 0%;
    top: 0%;
    /* border-spacing: ; */

    border-bottom: var(--border-color) var(--border-width) solid;
}

#tool-bar {
    position: absolute;
    left: var(--side-bar-space);
    top: var(--tab-bar-space);

    background-color: var(--top-bar-color);
    height: var(--tool-bar-space);
    width: 100vw;
}

#side-bar {
    position: absolute;
    left: 0%;
    top: var(--tab-bar-space);

    width: calc(var(--side-bar-space));
    height: calc(100vh - var(--tab-bar-space));

    background-color: var(--side-bar-color);
}

#side-bar-title {
    width: 80%;
    left: 5%;
    height: 100%;

    display: flex;
    justify-content: left;
    align-items: center;

    white-space: nowrap;

    position: absolute;
}

#side-bar-title-container {
    width: calc(100% - var(--border-width));
    height: var(--tool-bar-space);

    position: relative;

    border-right: var(--border-color) var(--border-width) solid;
}

#side-bar-select {
    width: 100%;
    height: var(--tool-bar-space);

    /* /* display: flex; */
    /* align-items: center;
    justify-content: center;
    flex-direction: row;  */

    /* display: inline-block; */
}

.side-bar-select-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: var(--tool-bar-space);

    cursor: pointer;
}

.side-bar-select-button.selected {
    /* background-color: red; */
    height: calc(var(--tool-bar-space) - var(--border-width));
    border-top: var(--select-border-color) var(--border-width) solid;

    background-color: var(--background-color);
    
}

#side-bar-page-container {
    width: 100%;
    height: calc(100% - var(--tool-bar-space) * 2);
    /* background-color: red; */
}

.canvas {
    height: calc(100vh - var(--tab-bar-space) - var(--tool-bar-space));
    width: calc(100vw - var(--side-bar-space));

    position: absolute;
    top: calc(var(--tab-bar-space) + var(--tool-bar-space));
    left: var(--side-bar-space);

    overflow: hidden;
}

.charge {
    position: absolute;
    border-radius: 50%;
    border-style: dashed;

    box-sizing: border-box;
    translate: -50% -50%;

    transition: all .5s;
}

.charge:hover {
    scale: 1.1;
}