:root {
    --tab-bar-space: 5vh;
    --tool-bar-space: 5vh;
    --item-space: 5vh;
    --mini-side-bar-space: 3.5vw;
    --main-side-bar-space: 15vw;
    --side-bar-space: calc(var(--mini-side-bar-space) + var(--main-side-bar-space));

    --border-width: 3px;

    --background-color: #242936;
    --top-bar-color: #192229;
    --side-bar-color: #1f2430;
    --mini-side-bar-color: #242936;

    --border-color: #171b24; 
    --line-color: rgb(86, 116, 138);

    --select-border-color: #ea9431;

    --font-family: monospace;
    --font-color: #707a80;
}

body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);

    font-family: var(--font-family);
    color: var(--font-color);

    overflow: hidden;
}

#tool-bar {
    background-color: var(--top-bar-color);
    height: calc(var(--tab-bar-space));
    width: 100vw;

    position: relative;
    left: 0%;
    top: 0%;
    /* border-spacing: ; */

    border-bottom: var(--border-width) solid var(--border-color);
}

#tool-bar-title {
    height: 100%;
    width: 100%;
    position: absolute;
    /* text-align: center; */

    left: 50%;
    translate: -50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#main-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
}

#tab-bar {

    position: relative;

    background-color: var(--top-bar-color);
    height: var(--tool-bar-space);
    width: 100%;

    display: flex;
    flex-direction: row;

    border-bottom: var(--border-width) solid var(--border-color) ;
}

#mini-side-bar {
    position: relative;
    /* left: 0%; */
    /* top: var(--tab-bar-space); */

    width: var(--mini-side-bar-space);
    /* height: alc(100vh - var(--tab-bar-space)); */
    height: 100%;

    /* flex-grow: 1; */

    background-color: var(--mini-side-bar-color);
    
    display: inline-flex;
    flex-direction: column;


}

#mini-side-bar .top {
    position: absolute;
    top: 0%;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

#mini-side-bar .bot {
    position: absolute;
    bottom: 0%;

    display: flex;
    justify-content: center;
    /* align-items: flex-start; */
    flex-direction: column-reverse;
}

.mini-bar-side-button {
    width: var(--mini-side-bar-space);
    aspect-ratio: 1;

    position: relative;

    /* opacity: 25%; */

    /* marg */
}

.mini-bar-side-button .image {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;

    opacity: 25%;

    cursor: pointer;

    transition: opacity .25s;
}

.mini-bar-side-button .image:hover {
    opacity: 50%;
}

.mini-bar-side-button .border {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;

}

.mini-bar-side-button.selected .border {
    box-sizing: border-box;
    border-left: var(--border-width) solid var(--select-border-color);
}

#side-bar {
    position: relative;

    width: var(--main-side-bar-space);
    height: calc(100vh - var(--tab-bar-space));

    background-color: var(--side-bar-color);
    
    display: inline-flex;
    flex-direction: column;

    border: var(--border-width) solid var(--border-color) ;
    border-top: none;
    border-bottom: none;
}

#side-bar-title {
    width: 80%;
    left: 5%;
    height: 100%;

    display: flex;
    justify-content: left;
    align-items: center;

    white-space: nowrap;

    position: absolute;
}

#side-bar-title-container {
    width: calc(100%);
    height: calc(var(--tool-bar-space) + var(--border-width));
    /* margin-bottom: var(--border-width); */

    position: relative;
}

#side-bar-select {
    width: 100%;
    height: var(--item-space);
}

.side-bar-select-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: var(--item-space);

    cursor: pointer;
}

.side-bar-select-button.selected {
    box-sizing: border-box;
    border-top: var(--select-border-color) var(--border-width) solid;

    height: calc(var(--item-space));

    background-color: var(--background-color);
    
}

#side-bar-page-container {
    width: 100%;
    /* height: calc(100% - var(--tool-bar-space) * 2); */

    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.side-bar-page {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.side-bar-page-action-bar {
    background-color: var(--background-color);
    height: var(--item-space);

    align-items: center;
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* display: grid; */
}

.side-bar-page-action-bar-title {
    height: 100%;
    /* width: calc(var(--main-side-bar-space) * .5); */

    flex-grow: 1;

    justify-self: left;

    margin-left: 5%;

    grid-row: 1;

    display: flex;
    justify-content: left;
    align-items: center;
}

.side-bar-page-action-bar > .container {
    /* width: calc(var(--side-bar-space) * .5); */

    display: flex;
    align-items: center;
    justify-content: right;
}

.side-bar-page-list-new {
    background-color: var(--background-color);
    height: var(--item-space);

    align-items: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.side-bar-page-list-new input {
    background-color: transparent;
    height: var(--item-space);
    width: 100%;

    padding: 0px;
    padding-block: 0px;
    padding-inline: 0px;
    outline: none;

    font-family: var(--font-family);
    color: var(--font-color);

    box-sizing: border-box;

    border: solid var(--border-width) #3f5f7c;

    flex-grow: 1;
}

.small-button {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    justify-self: right;
    

    width: calc(var(--item-space) *.7);
    aspect-ratio: 1;

    grid-row: 1;
    display: flex;

    filter: opacity(25%);

    cursor: pointer;
}

.side-bar-page-list {
    width: 100%;
    flex-grow: 1;
}

.side-bar-page-list-item {
    width: 100%;
    height: var(--item-space);

    display: flex;
    flex-direction: row;

    align-items: center;

    background-color: var(--side-bar-color);

    cursor: pointer;
}

.side-bar-page-list-item:hover {
    filter: brightness(110%);
}

.side-bar-page-list-item.selected {
    filter: brightness(120%);
}

.side-bar-page-list-item .container {
    display: none;
}

.side-bar-page-list-item:hover .container {
    display: flex;
}

.side-bar-page-list-item .title {
    flex-grow: 1;
    height: 100%;

    display: flex;
    align-items: center;
    justify-self: left;

    margin-left: 5%;
}

.small-button:hover {
    filter: opacity(50%);
    border-radius: 20%;
    background-color: rgba(255, 255, 255, 0.288);
}

#alls-tab-container {
    position: relative;
    display: flex;
    flex-grow: 1;
}

.tab-container {

}

.tab-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;

    position: relative;

    border-right: var(--border-width) solid var(--border-color);

    cursor: pointer;

    /* min-width: 1vw; */
}

.tab-button.selected {
    background-color: var(--background-color);
}

.tab-button-title {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: calc(var(--tab-bar-space)*.25);
    margin-right: calc(var(--tab-bar-space)*.25);

    

    min-width: 1vw;
}

.tab-button > .small-button {
    margin-right: calc(var(--tab-bar-space)*.25);
    visibility: hidden;
}

.tab-button:hover > .small-button {
    visibility: visible;
}

.tab-button > .anti-border {
    position: absolute;
    width: 100%;
    height: 0%;
    left: 0%;

    user-select: none;
}

.tab-button.selected > .anti-border.bottom {
    top: 100%;
    border-bottom: var(--border-width) solid var(--background-color);
}

.tab-button.selected > .anti-border.top {
    top: 0%;
    border-top: var(--border-width) solid var(--select-border-color);
}

.float-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: var(--item-space);
}

.property-label {
    height: 100%;
    min-width: 25%;
    margin-left: 5%;
    margin-right: 5%;
    flex: 1;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.property-float {
    background-color: transparent;
    height: 100%;
    flex: 1;
    max-width: 90%;

    padding: 0px;
    padding-block: 0px;
    padding-inline: 0px;
    outline: none;
    border: none;

    font-family: var(--font-family);
    color: var(--font-color);
}

.canvas {
    height: 100%;
    width: 100%;

    position: absolute;
    top: 0%;
    left: 0%;

    overflow: hidden;

    /* background-color: red; */
}

.charge {
    position: absolute;
    border-radius: 50%;
    border-style: dashed;

    box-sizing: border-box;
    translate: -50% -50%;

    transition: scale .5s;
}

.charge:hover {
    scale: 1.1;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}