:root {
    --top-bar-space: 7.5%;
    --background-color: #1c252c;
    --top-bar-color: #192229;
    --border-color: #0e1316;
    --code-color: rgb(37, 50, 59);
    --line-color: rgb(86, 116, 138);

    font-size: 125%;
}

body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);

    font-family: monospace;
    color: white;

    overflow: hidden;
}

#tool-bar {
    background-color: var(--top-bar-color);
    height: var(--top-bar-space);
    width: 100vw;
}

.canvas {
    height: calc(100vh - var(--top-bar-space));
    width: 100vw;

    position: absolute;
    top: var(--top-bar-space);
}

.charge {
    position: absolute;
    border-radius: 50%;
    border-style: dashed;

    box-sizing: border-box;
    translate: -50% -50%;

    transition: all .5s;
}

.charge:hover {
    scale: 1.1;
}